/*==============================================================================
# HEADER TABLET
==============================================================================*/

/*------------------------------------------------------------------------------
# SITE HEADER
------------------------------------------------------------------------------*/
.page-header {
    height: 35vh;
}


/*------------------------------------------------------------------------------
# TITLE
------------------------------------------------------------------------------*/
.home-header .header-page-title {
  font-size: 3.6em;
}


/*------------------------------------------------------------------------------
# SUBTITLE
------------------------------------------------------------------------------*/
.header-page-subtitle {
    font-size: 1.3em;
}
