/*==============================================================================
# HEADER
==============================================================================*/

/*------------------------------------------------------------------------------
# SITE HEADER
------------------------------------------------------------------------------*/
.site-header {
    position: relative;
    color: $bloom;
    width: 100%;
    z-index: 5;
    background: $apogee;

}

.page-header {
    height: 40vh;
}


/*------------------------------------------------------------------------------
# HOME HEADER
------------------------------------------------------------------------------*/
.home-header {
    height: 100vh;
}

.header-content-wrapper {
    position: absolute;
    width: 100%;
    top: 50%;
    //padding-top: $mobile-nav-height;
    transform: translate(0, -50%);
}


/*------------------------------------------------------------------------------
# TITLE
------------------------------------------------------------------------------*/
.home-header .header-page-title {
  font-size: 2.3em;
  line-height: 1;
  margin-bottom: 10px;
}


/*------------------------------------------------------------------------------
# LOGO
------------------------------------------------------------------------------*/
/*.header-large-logo {
    display: block;
    margin: 10px auto 30px;
    width: 220px;
    height: auto;
    transform: translateX(-50%);
}*/


/*.header-logo-wrapper {
  width: 900px;
  margin: 0 auto;
  display: block;
}*/

/*------------------------------------------------------------------------------
# SUBTITLE
------------------------------------------------------------------------------*/
.header-page-subtitle {
    margin-top: 3px;
    text-align: center;
    font-size: 0.9em;
    font-weight: 100;
    color: $bloom;
    font-family: $museo;
    text-transform: none;
    letter-spacing: 5px;
}


/*------------------------------------------------------------------------------
# SCROLL NOTIFICATION
------------------------------------------------------------------------------*/
.header-scroll-container {
    display: block;
    position: absolute;
    bottom: 13px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 40px;
    height: 30px;
    color: $bloom;
    transition: color 0.2s;
    &:hover,
    &:active {
        color: $ezra;
    }
}

.header-scroll-text {
    font-weight: 100;
    animation-name: scroll-animation-text;
}

.header-scroll-icon {
    animation-name: scroll-animation-icon;
}

.header-scroll-icon,
.header-scroll-text {
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 0.8em;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
