/*==============================================================================
# HEADER WIDE
==============================================================================*/
.header-content-wrapper {
    //padding-top: $wide-nav-height;
}

.page-header {
    height: 40vh;
}


/*------------------------------------------------------------------------------
# TITLE
------------------------------------------------------------------------------*/
.home-header .header-page-title {
  font-size: 6em;
}


/*------------------------------------------------------------------------------
# SUBTITLE
------------------------------------------------------------------------------*/
.header-page-subtitle {
    font-size: 1.4em;
}

/*------------------------------------------------------------------------------
# LOGO
------------------------------------------------------------------------------*/
.header-logo-white {
    width: 7em;
}
