/*==============================================================================
# TYPOGRAPHY
==============================================================================*/

/*------------------------------------------------------------------------------
# HEADINGS
------------------------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    font-family: $lato;
}

h1 {
    font-family: $lato;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.7em;
}

h2 {
	text-transform: uppercase;
	color: $bloom;
	font-size: 1.6em;
    text-align: center;
    margin: 20px 0 10px;
}
