$base-color: #242b2e;
$icon-color: #fafdff;
$highlight-color: #27daa5;
$notification-color: #ed70a5;
$button-color: #ed70a5;

$menu-submenu-text: #fafdff;
$menu-submenu-focus-text: #27daa5;
$menu-submenu-background: #293135;

@import "_admin.scss";
