/*=============================================================================
# NAVIGATION WIDESCREEN
==============================================================================*/

/*------------------------------------------------------------------------------
# POSITION
------------------------------------------------------------------------------*/
// Add padding to top of site header for the menu.
.site-header {
    padding-top: $wide-nav-height;
}

.main-navigation {
    background: $apogee;
    height: $wide-nav-height;

    & ul {
        width: 450px;
        right: 146px;
        position: absolute;
    }
}


/*------------------------------------------------------------------------------
# MENU LOGO
------------------------------------------------------------------------------*/
.nav-logo-link {
    display: block;
    position: absolute;
    top: 0;
    left: 90px;
    padding: 0 20px 0 22px;
    height: $wide-nav-height;
    transition: fill .1s;

    &:hover .nav-logo-bloom {
        fill: $bloom;
    }
}

.nav-logo-bloom {
    height: 1.2em;
    width: auto;
    fill: $apollo-dark;
    margin: 20px 0;
}


/*------------------------------------------------------------------------------
# SEARCH
------------------------------------------------------------------------------*/

.nav-search-svg {
  height: .95em;
  width: auto;
  fill: $apollo-dark;
  margin: 22px 0;
  display: block;
}

.nav-search {
  display: block;
  position: absolute;
  top: 0;
  right: 90px;
  padding: 0 20px;
  height: $wide-nav-height;
  cursor: pointer;

  &:hover .nav-search-svg {
    fill: $bloom;
  }
}


/*------------------------------------------------------------------------------
# ITEMS
------------------------------------------------------------------------------*/
.menu-item {
    height: $wide-nav-height;
}


/*------------------------------------------------------------------------------
# CONTACT
------------------------------------------------------------------------------*/
.menu-item a {
    color: $apollo-dark;
    font-size: 1em;
    padding: 0;
    line-height: $wide-nav-height;
    text-transform: none;
    position: relative;;

    &:hover {
        color: $bloom;
    }
}


/*------------------------------------------------------------------------------
# CURRENT PAGE
------------------------------------------------------------------------------*/
.current-menu-item a {
    color: $bloom;
    background: none;
}

.current-menu-item a::before {
    content: none;
}


/*------------------------------------------------------------------------------
# CONTACT
------------------------------------------------------------------------------*/
.nav-item-contact a {
    color: $apollo-dark;

    &:hover {
        color: $drift; // Override mobile style
    }
}

/*------------------------------------------------------------------------------
# MENU HIDE
------------------------------------------------------------------------------*/
.main-navigation.nav-hide {
     transform: translate(0, -$wide-nav-height);
}


 /*-----------------------------------------------------------------------------
 # REMOVE ICONS
 -----------------------------------------------------------------------------*/
.menu-item::before {
    content: none;
}


/*------------------------------------------------------------------------------
# MOVE MENU BELOW ADMINBAR
------------------------------------------------------------------------------*/
.admin-bar .main-navigation {
    top: 32px;
}
