/*==============================================================================
# ANIMATIONS
==============================================================================*/

/*------------------------------------------------------------------------------
# HOME HEADER SCROLL
------------------------------------------------------------------------------*/
@keyframes scroll-animation-text {
    0%   {
        opacity: 1;
        bottom: 12px;
    }
    100%  {
        opacity: 0.5;
        bottom: 15px;
    }
}

@keyframes scroll-animation-icon {
    0%   {
        opacity: 1;
        bottom: 0px;
    }
    100%  {
        opacity: 0.5;
        bottom: 3px;
    }
}


/*------------------------------------------------------------------------------
# INFINITE LOADER
------------------------------------------------------------------------------*/
@keyframes infinite-loader-left {
    0%   {
        background: rgba($apogee, 0);
    }
    100%  {
        background: rgba($apogee, 1);
    }
}

@keyframes infinite-loader-right {
    0%   {
        background: rgba($apogee, 1);
    }
    100%  {
        background: rgba($apogee, 0);
    }
}
