/*=============================================================================
# VARIABLES
==============================================================================*/


/*------------------------------------------------------------------------------
# COLOURS
------------------------------------------------------------------------------*/
$bloom:         #ff7396;
$ezra:          #5c56a0;
$foolish:       #91f2aa;
$apogee:        #fdfdff;
$apollo-light:  #f5f4f6;
$apollo:        #c1cad6;
$apollo-dark:   #909aa6;
$desert-night:  #222129;


/*------------------------------------------------------------------------------
# TYPEFACES
------------------------------------------------------------------------------*/
$lato: 'lato', sans-serif;
$museo: 'museo-sans', sans-serif;


/*------------------------------------------------------------------------------
# HEADINGS
------------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------
# BREAKPOINTS
------------------------------------------------------------------------------*/
$bp-tablet: 600px;
$bp-wide: 900px;

/*------------------------------------------------------------------------------
# DIMENSIONS
------------------------------------------------------------------------------*/
$wide-nav-height: 60px;
$mobile-nav-height: 50px;
