/*==============================================================================
# TYPOGRAPHY WIDE
==============================================================================*/

/*------------------------------------------------------------------------------
# HEADINGS
------------------------------------------------------------------------------*/
h1 {
    font-size: 3em;
}

h2 {
	font-size: 2.8em;
    margin: 50px 0 0;
}


/*------------------------------------------------------------------------------
# SPECIFIC STYLING
------------------------------------------------------------------------------*/
.home-heading-subtitle {
    font-size: 1.5em;
}
