/* ------------------------------------------------ */
/*                                                  */
/*                       BODY                       */
/*                                                  */
/* ------------------------------------------------ */



/* ------------------------------------------------ */
/*                       BASE                       */
/* ------------------------------------------------ */
body {
    background: $ezra;
    font-family: "museo-sans",sans-serif;
    color: $desert-night;
}

/* ------------------------------------------------ */
/*                    SELECTION                     */
/* ------------------------------------------------ */
::selection {
    //Opacity is a workaround to ensure highlight is opaque.
    background: rgba($bloom, 0.99);
    color: $apogee;
}
