/*==============================================================================
# BODY
==============================================================================*/

/*------------------------------------------------------------------------------
# BASE
------------------------------------------------------------------------------*/

body,
button,
input,
select,
textarea {
	color: $desert-night;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

body {
    width: 100%;
    overflow-x: hidden;
    background: $apogee;
    font-family: $museo;
    font-weight: 100;
}

/*------------------------------------------------------------------------------
# LOADER
------------------------------------------------------------------------------*/
span.infinite-loader {
	position: relative;
	background: $bloom;
	height: 65px;

	&::before,
	&::after {
		content: '';
		position: absolute;
		top: 50%;
		border: 1px solid $apogee;
		background: $apogee;
		transform: translate(-50%, -50%);
		z-index: 20000;
		width: 10px;
		height: 10px;
		border-radius: 5px;
	    animation-duration: .4s;
	    animation-iteration-count: infinite;
	    animation-direction: alternate;
	    animation-timing-function: ease-in-out;
	}

	&::before {
		left: calc(50% - 10px);
	    animation-name: infinite-loader-left;
	}

	&::after {
		left: calc(50% + 10px);
	    animation-name: infinite-loader-right;
	}

	.spinner {
		display: none;
	}
}


/*------------------------------------------------------------------------------
# SELECTION
------------------------------------------------------------------------------*/
::selection {
    //Opacity is a workaround to ensure highlight is opaque.
    background: rgba(darken( $desert-night, 1% ), 0.99);
    color: $apogee;
}
