/* ------------------------------------------------ */
/*                                                  */
/*                       BODY                       */
/*                                                  */
/* ------------------------------------------------ */



/* ------------------------------------------------ */
/*                       BASE                       */
/* ------------------------------------------------ */
body {
    width: 100%;
    overflow-x: hidden;
    background: $apogee;
    font-family: $museo;
    color: $desert-night;
    font-weight: 100;
}

/* ------------------------------------------------ */
/*                    SELECTION                     */
/* ------------------------------------------------ */
::selection {
    //Opacity is a workaround to ensure highlight is opaque.
    background: rgba($bloom, 0.99);
    color: $apogee;
}
