/*=============================================================================
# BUTTONS
==============================================================================*/

/*------------------------------------------------------------------------------
# BUTTON STYLES
------------------------------------------------------------------------------*/
.btn {
    display: inline-block;
    padding: 5px 20px;
    border: 1px solid;
    transition: color 0.1s, background 0.1s;
    //border-radius: 30px; // UNSURE OF THIS
    //border-radius: 2px;
}

/*------------------------------------------------------------------------------
# COLOURS
------------------------------------------------------------------------------*/
.btn-bloom {
    border-color: $bloom;
    color: $bloom;

    &:active,
    &:hover {
        color: $apogee;
        background: $bloom;
    }
}

.btn-ezra {
    border-color: $ezra;
    color: $ezra;

    &:active,
    &:hover {
        color: $apogee;
        background: $ezra;
    }
}

.btn-apogee {
    border-color: $apogee;
    color: $apogee;

    &:active,
    &:hover {
        color: $desert-night;
        background: $apogee;
    }
}

.btn-apollo {
    border-color: $apollo;
    color: $apollo;

    &:active,
    &:hover {
        color: $apogee;
        background: $apollo;
    }
}

.btn-desert-night {
    border-color: $desert-night;
    color: $desert-night;

    &:active,
    &:hover {
        color: $apogee;
        background: $desert-night;
    }
}

/*------------------------------------------------------------------------------
# COLOURS FOR STRIPS
------------------------------------------------------------------------------*/

.strip-bloom .btn {
    &:hover {
        color: $bloom;
    }
}

.strip-ezra .btn {
    &:hover {
        color: $ezra;
    }
}

.strip-apollo .btn {
    &:hover {
        color: $apollo;
    }
}

.strip-desert-night .btn {
    &:hover {
        color: $desert-night;
    }
}
