/*==============================================================================
# HEADER WIDE
==============================================================================*/

.site-header {
    padding-top: 60px;
}

/*------------------------------------------------------------------------------
# SUBTITLE
------------------------------------------------------------------------------*/
.header-page-subtitle {
    font-size: 1.5em;
}

/*------------------------------------------------------------------------------
# LOGO
------------------------------------------------------------------------------*/
.header-logo-white {
    width: 7em;
}
