/*==============================================================================
# HEADER
==============================================================================*/

/*------------------------------------------------------------------------------
# SITE HEADER
------------------------------------------------------------------------------*/
.site-header {
    position: relative;
    background: $bloom;
    color: $apogee;
    width: 100%;
    z-index: 5;
    padding-top: 60px;
}

.page-header {
    height: 35vh;
}

/*------------------------------------------------------------------------------
# HOME HEADER
------------------------------------------------------------------------------*/
.home-header {
    height: 80vh;
}

.header-content-wrapper {
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translate(0, -50%);
}

.header-scroll-container {
    display: block;
    position: absolute;
    bottom: 13px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 40px;
    height: 30px;
    color: $apogee;
    transition: color 0.2s;
    &:hover {
        color: $desert-night;
    }
}

.header-scroll-text {
    font-weight: 100;
    animation-name: scroll-animation-text;
}

.header-scroll-icon {
    animation-name: scroll-animation-icon;
}

.header-scroll-icon, .header-scroll-text {
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 0.8em;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

/*------------------------------------------------------------------------------
# LOGO
------------------------------------------------------------------------------*/
.header-logo-white {
    display: block;
    margin: 0 auto 6px;
    width: 80px;
    height: auto;
    fill: $apogee;
}

/*------------------------------------------------------------------------------
# SUBTITLE
------------------------------------------------------------------------------*/
.header-page-subtitle {
    margin-top: 3px;
    text-align: center;
    font-size: 0.9em;
    font-weight: 100;
}
