/*==============================================================================
# HEADER WIDE
==============================================================================*/
.header-content-wrapper {
    padding-top: 60px;
}

.page-header {
    height: 40vh;
}

.home-header {
    height: 80vh;
}


/*------------------------------------------------------------------------------
# SUBTITLE
------------------------------------------------------------------------------*/
.header-page-subtitle {
    font-size: 1.4em;
}

/*------------------------------------------------------------------------------
# LOGO
------------------------------------------------------------------------------*/
.header-logo-white {
    width: 6em;
}
