/*=============================================================================
# NAVIGATION
==============================================================================*/

/*------------------------------------------------------------------------------
# MOBILE
------------------------------------------------------------------------------*/
.main-navigation {
    z-index: 500;
    height: $mobile-nav-height;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $apollo-light;
    transition: transform 0.4s cubic-bezier(0.72, 0, 0, 0.98);

    & ul {
        display: flex;
        align-items: stretch;
        list-style: none;
        margin: 0;
        padding-left: 0;
    }
}

.menu-item {
    display: block;
    text-align: center;
    height: 50px;
    width: 20%;
    position: relative;

    & a {
        display: block;
        padding: 29px 0 21px;
        width: 100%;
        height: 100%;
        font-size: 90%;
        z-index: 600;
        color: $apollo-dark;
        transition: color 0.1s, background 0.1s;
    }
}

.current_page_item a {
    color: $apogee;
    background: $bloom;
}


/*------------------------------------------------------------------------------
# MENU HIDE
------------------------------------------------------------------------------*/
.main-navigation.nav-hide {
     transform: translate(0, -$mobile-nav-height);
 }


/*------------------------------------------------------------------------------
# HIDE MENU LOGO
------------------------------------------------------------------------------*/
.nav-logo-link {
    display: none;
}


/*------------------------------------------------------------------------------
# SPRITES FOR MOBILE MENU
------------------------------------------------------------------------------*/
.menu-item::before {
    background-image: url(../img/menusprites.png);
    z-index: -1;
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    top: 3px;
    left: 50%;
    transform: translate(-50%,0);
    background-size: 50px;
}

.menu-item.current_page_item::before {
    z-index: 1;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-resolution: 240dpi) {
.menu-item::before {
        background-image: url(../img/menusprites@2x.png);
    }
}


/*------------------------------------------------------------------------------
# HOME
------------------------------------------------------------------------------*/
.nav-item-home.current_page_item::before {
    background-position: 0 0;
}

.nav-item-home::before {
    background-position: 25px 0;
}


/*------------------------------------------------------------------------------
# WORK
------------------------------------------------------------------------------*/
.nav-item-work.current_page_item::before {
    background-position: 0 -25px;
}

.nav-item-work::before {
    background-position: -25px -25px;
}


/*------------------------------------------------------------------------------
# BLOG
------------------------------------------------------------------------------*/
.nav-item-blog.current_page_item::before {
    background-position: 0 -50px;
}

.nav-item-blog::before {
    background-position: -25px -50px;
}


/*------------------------------------------------------------------------------
# ABOUT
------------------------------------------------------------------------------*/
.nav-item-about.current_page_item::before {
    background-position: 0 -75px;
}

.nav-item-about::before {
    background-position: -25px -75px;
}


/*------------------------------------------------------------------------------
# CONTACT
------------------------------------------------------------------------------*/
.nav-item-contact::before {
    background-position: 25px -100px;
}

.nav-item-contact.current_page_item::before {
    background-position: 0 -100px;
}

.nav-item-contact a {
    color: $ezra;
}

.nav-item-contact.current_page_item a {
    background: $ezra;
        color: $apogee;
}
