/*=============================================================================
# STRIP
==============================================================================*/

/*------------------------------------------------------------------------------
# BASIC STRIPS
------------------------------------------------------------------------------*/
.strip {
    display: block;
    width: 100%;
}

.strip-btn {
    text-align: center;
    height: 65px;
    position: relative;
}

.strip-btn .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*------------------------------------------------------------------------------
# STRIP COLOURS
------------------------------------------------------------------------------*/
.strip-bloom {
    background: $bloom;
}

.strip-ezra {
    background: $ezra;
}

.strip-apollo {
    background: $apollo;
}

.strip-desert-night {
    background: $desert-night;
}
