/* ------------------------------------------------ */
/*                                                  */
/*                     VARIABLES                    */
/*                                                  */
/* ------------------------------------------------ */


/* ------------------------------------------------ */
/*                      COLOURS                     */
/* ------------------------------------------------ */
$bloom: #ff7396;
$ezra: #5d63a4;
$desert-night: #362b40;
$apollo: #c1cad6;
$apogee: #fcfcfc;


/* ------------------------------------------------ */
/*                     TYPEFACES                    */
/* ------------------------------------------------ */
//Import and Typeface Variable


/* ------------------------------------------------ */
/*                    BREAKPOINTS                   */
/* ------------------------------------------------ */
$bp-tablet: 768px;
$bp-wide: 1000px;
$bp-ultrawide: 1921px;
