/*=============================================================================
# VARIABLES
==============================================================================*/


/*------------------------------------------------------------------------------
# COLOURS
------------------------------------------------------------------------------*/
$bloom:         #ff7396; //#ff8373 #ff7396
$ezra:          #5d63a4; //#4b61a6;
$shark:         #a6425a;
$apogee:        #fcfcfc;
$apollo-light:  #f6f5f7;
$apollo:        #c1cad6;
$apollo-dark:   #909aa6;
$desert-night:  #222129;


/*------------------------------------------------------------------------------
# TYPEFACES
------------------------------------------------------------------------------*/
$lato: 'lato', sans-serif;
$museo: 'museo-sans', sans-serif;


/*------------------------------------------------------------------------------
# HEADINGS
------------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------
# BREAKPOINTS
------------------------------------------------------------------------------*/
$bp-tablet: 600px;
$bp-wide: 900px;

/*------------------------------------------------------------------------------
# DIMENSIONS
------------------------------------------------------------------------------*/
$wide-nav-height: 60px;
$mobile-nav-height: 50px;
